@page
@model CartModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hepsi Online Sepet</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="https://technext.github.io/amado/css/core-style.css">
    <link rel="stylesheet" href="https://technext.github.io/amado/style.css">
</head>

<body>
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a asp-action="Index"
                   asp-controller="Home" asp-route-category="" asp-route-productPage="-7"><img src="~/Anasayfa/images/Logo.png" /></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a asp-action="Index"
                   asp-controller="Home" asp-route-category="" asp-route-productPage="-7"><img src="~/Anasayfa/images/Logo.png" /></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li>
                        <a asp-action="Index"
                           asp-controller="Home" asp-route-category="" asp-route-productPage="-7">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="@Model.ReturnUrl">Alışverişe Devam Et</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Header Area End -->
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Sepet</h2>
                        </div>
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Ürün Adı</th>
                                        <th>Ücret</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in Model.Cart.Lines)
                                    {
                                        <tr>
                                            <td class="cart_product_img">
                                                <img src=@line.Product.ImgPath>
                                            </td>
                                            <td class="cart_product_desc">
                                                <span>@line.Product.Name x @line.Quantity</span>
                                            </td>
                                            <td class="price">
                                                <span>@line.Product.Price</span>
                                            </td>
                                            <td>
                                                <form asp-action="Remove" asp-controller="Home" method="post">
                                                    <input type="hidden" name="productId"
                                                           value="@line.Product.ProductID" />
                                                    <input type="hidden" name="returnUrl"
                                                           value="@Model.ReturnUrl" />
                                                    <button type="submit" class="btn btn-danger">
                                                        Sil
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Ödenecek Tutar</h5>
                            <ul class="summary-table">
                                <li><span>Teslimat :</span> <span>Ücretsiz</span></li>
                                <li><span>Toplam Ücret :</span> <span>@Model.Cart.ComputeTotalValue().ToString("c")</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a asp-action="Checkout" asp-controller="Order" class="btn amado-btn w-100">Satın Al </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>
